@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');

.-mycredit-modal {
    display: none;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,.3);
    z-index: 99999;
    font-family: 'Nunito', sans-serif;
}

.-mycredit-modal-content {
    min-width: 515px;
    max-width: 600px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
    box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    animation-duration: .7s;
}


.-mycredit-modal-content-body {
    padding: 15px 20px;
    max-height: 500px;
    overflow: auto;
}

.-mycredit-modal-content-header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.08);
}

.-mycredit-modal-content-title {
    padding: 15px 20px;
    font-size: 24px;
}

.-mycredit-modal-header-subtitle {
    font-size: 14px;
    margin-right:50px;
}

.-mycredit-modal-close {
    display: block;
    position: absolute;
    width:17px;
    height: 17px;
    top: 18px;
    right: 18px;
    background-image: url(../images/close.png);
    cursor: pointer;
}

.-mycredit-modal table {
    border-spacing: 0;
}

.-mycredit-modal table th,
.-mycredit-modal table td {
    padding: 8px;
}

.-mycredit-modal table tr:not(:last-child) th,
.-mycredit-modal table tr:not(:last-child) td {
    border-bottom: 1px solid #eee;
}


.-mycredit-modal table th {
    font-size:16px;
}

.-mycredit-modal table th:not(:last-child){
    border-right: 1px solid #eee;
}

.-mycredit-modal table td:not(:last-child){
    border-right: 1px solid #eee;
}
