html,body {
    margin: 0;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.container {
    width: 1322px;
    margin-left: auto;
    margin-right: auto;
}

.flex { display: flex; }
.row-wrap { flex-flow: row wrap; }
.text-center { text-align: center; }
.no-margin { margin:0 !important; }
.no-padding { padding:0 !important; }

.separate-row {
    margin-top: 70px;
    margin-bottom: 45px;
}

.bg-gray {
    background-color:#fafafa;
}


.text-light-blue {
    color: #5d66c3;
}

.text-black {
    color: #3e3e3e;
}

.bold {
    font-weight: 500;
}
.btn {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding:0 20px;
    outline: none;
    border-radius: 3px;
    background: transparent;;
    border: solid 1px #5d66c3;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: left;
    color: #5d66c3;
    cursor: pointer;
    transition: .15s ease-in;
}

.btn:hover {
    background-color:#5d66c3;
    color:#fff;
}

.btn--primary {
    background-color: #22296c;
    color:#fff;
    border:none;
}

.btn--primary:hover {
    background-color:#2e3790;
}

#header-bar {
    height: 36px;
    display: flex;
    justify-content: space-between;
    background-color: #22296c;
}

#header-bar .socials {
    display: flex;
    height: 36px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 58px;
}

#header-bar .socials a {
    margin-right: 15px;
}

#header-bar .meta {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 60px;
    color:#fff;
}

#header-bar .meta span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 300;
}

#header-bar .meta > span {
    margin-right: 22px;
}

#header-bar .meta span span {
    margin-right: 7px;
}

#header-bar .meta .wpml-ls-legacy-dropdown-click {
    width: auto !important;
}

.wpml-ls-statics-shortcode_actions .wpml-ls-current-language>a {
    background-color: transparent !important;
    border-color:transparent !important;
}

.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after {
    color:#fff;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.08);
    border-radius: 3px;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu a {
    border: none;
}

#nav {
    margin: 7px 58px;
    display: flex;
    justify-content: space-between;
}

.nav-menu-container {

}

.nav-menu-container > ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    height:100%;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-left:100px;
}

.nav-menu-container > ul > li {
    margin-top: 10px;
}

.nav-menu-container > ul > li:not(:last-child) {
    margin-right: 25px;
}

.nav-menu-container > ul > li a {
    position: relative;
    display: inline-block;
    padding: 5px;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #444446;
    text-decoration: none;
}
.nav-menu-container > ul > li > a:before {
    content:'';
    display:block;
    position:absolute;
    width:0;
    height:0;
    border-top:0 solid #22296c;
    border-right:0 solid #22296c;
    transition:width 0.2s 0.2s ease,height 0.2s ease,border-width 0s 0.4s ease;
    top:1px;
    right:1px;
}

.nav-menu-container > ul > li > a:after {
    content:'';
    display:block;
    position:absolute;
    width:0;
    height:0;
    border-left:0 solid #22296c;
    border-bottom:0 solid #22296c;
    transition:width 0.2s 0.2s ease,height 0.2s ease,border-width 0s 0.4s ease;
    bottom:0;
    left:0;
}

.nav-menu-container > ul > li.current-menu-item > a {
    color:#22296c;
}

.nav-menu-container > ul > li.current-menu-item > a:before {
    width:50%;
    height:1px;
    border-top:1px solid #22296c;
}

.nav-menu-container > ul > li.current-menu-item > a:after {
    width:50%;
    height: 1px;
    border-bottom:1px solid #22296c;
}

.nav-menu-container > ul > li > a:hover:before {
    border-width:1px;
    width:calc(100% - 2px);
    height:calc(100% - 2px);
    transition:width 0.2s ease,height 0.2s 0.2s ease;
}

.nav-menu-container > ul > li > a:hover:after {
    border-width:1px;
    width:calc(100% - 2px);
    height:calc(100% - 2px);
    transition:width 0.2s ease,height 0.2s 0.2s ease;
}

#home-banner {
    position: relative;
    background-color:#444;
    min-height:300px;
}

#home-banner ul {
    margin:0;
    padding:0;
    list-style-type: none;
}

#home-banner .slides li {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    transition: opacity 1s linear;
}

#home-banner .slides li.active {
    visibility: visible;
    opacity:1;
    position: relative;
}

.banner-img img {
    width: 100%;
    height: auto;
}

.banner-content {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding: 81px 0 0 58px;

}

.banner {
    position: relative;
}

.banner-heading {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0.7px;
    line-height:57px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 23px;
}

.banner-subheading {
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.7px;
    text-align: left;
    color: #ffffff;
    max-width: 730px;
    margin-bottom:26px;
}

.banner-content .btn--cta {
    display:inline-block;
    padding: 0 44px;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    background-image: linear-gradient(to right, #5d80d3, #0dc9ca);
    box-shadow: 0 2px 16px 0 #19226f;
    font-size: 18px;
    letter-spacing: 0.7px;
    color: #ffffff;
    text-decoration: none;
}

#home-banner .dots {
    list-style: none;
    margin:0;
    padding:0;
    position: absolute;
    right: 43px;
    top:50%;
    transform:translateY(-50%);
}

#home-banner .dots li {
    width: 12.5px;
    height: 12.5px;
    margin-bottom:16px;
    object-fit: contain;
    transform: rotate(46deg);
    background-color: rgba(255,255,255,.42);
    border:2px solid transparent;
    cursor: pointer;
}

#home-banner .dots li.active {
    background-color: #ffffff;
    border:2px solid  #22296c;
    cursor: initial;
}

.services-lead {
    position: relative;
    margin: 29px 0 26px 0;
    padding: 0 0 10px 0;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1.1px;
    text-align: center;
    color: #22296c;
}

.services-lead:after {
    content:'';
    display: block;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:0;
    width: 59px;
    height: 3px;
    background-color: #5d66c3;
}

.services {
    list-style-type: none;
    margin:0 0 34px 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
}

.services li {
    display: inline-flex;
    margin-right: 18px;
    max-width: 220px;
}

.services li a {
    display: inline-flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 36px 30px 24px 30px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 7px 0 rgba(142, 142, 143, 0.15);
    border: solid 1px #dfdfdf;
    text-decoration: none;
    text-transform: uppercase;
}

.services li a:hover {
    background-color:#5d66c3;
    box-shadow: 0 2px 11px 0 rgba(144, 144, 145, 0.49);
}

.services li .service-icon {
    margin-bottom: 22px;
    text-align: center;
}

.services li .icon {
    display: block;
}

.services li .hover-icon {
    display:none;
}

.services li:hover .icon {
    display:none;
}

.services li:hover .hover-icon {
    display: block;
}

.service-title {
    font-size: 16px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #22296c;
}

.services li:hover .service-title {
    color:#fff;
}

.main-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: flex-start;
}

.entry {
    padding-top: 26px;
}

.content {
    width: 980px;

}

.sidebar {
    width: 302px;
}

.sidebar .widget {
    width: 302px;
    margin-bottom: 17px;
    padding: 22px 28px 32px 22px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d7d7db;
}

.widget-title {
    margin-bottom: 21px;
    font-size: 18px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #22296c;
}


.-field-wrap:not(:first-child) {
    margin-top:20px;
}

.widget .-field-label {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: left;
    color: #22296c;
    margin-bottom: 6px;
}

.-field-wrap--slider .-field-label{
    margin-bottom:22px;
}

.-field-full-width {
    width: 100%;
}

.-field {
    position: relative;
}

.-field-text {
    border: none;
    border-bottom: solid 1px #5d66c3;
    box-shadow: none;
    outline: none;
    padding: 5px 0 1px 0;
    margin:0;
    font-size: 14px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #6e6e6e;
}

.-field-text.-field-text--material {
    color:#5d66c3;
}


.-field-text.-field-text--material ~ label {
    position: absolute;
    top:0;
    left:0;
    font-size: 14px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #6e6e6e;
    pointer-events: none;
    transition: all .15s ease-out;
}

.-field-text.-field-text--material:focus ~ label,
.-field-text.-field-text--material:valid ~ label,
.-field-text.-field-text--material:visited ~ label {
    transform: translateY(-100%);
    font-size:10px;
}

.-spinner {
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.-spin {
    width: 8px;
    height: 8px;
    background-color: #FFFFFF;
    border-radius: 100%;
    display: inline-block;
    animation: popup-bouncedelay 1.7s infinite ease-in-out both;
    margin-right: 5px;
}

.-spin.-spinner-1 {
    animation-delay: -0.60s;
}

.-spin.-spinner-2 {
    animation-delay: -0.40s;
}

.-spin.-spinner-3 {
    animation-delay: -0.20s;
}

@keyframes popup-bouncedelay {
    0%, 80%, 100% {
        transform: scale(0);
        opacity: 0;
    }

    40% {
        transform: scale(1.0);
        opacity: 1;
    }
}

.-form-success {
    color:#22296c;
}

.currency-table {
    border-spacing: 0;
    width: 100%;
}

.currency-table thead th {
    padding-bottom:5px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: left;
    color: #22296c;
}

.currency-table tbody tr {

    background-color: #f5f3f3;
}

.currency-table tbody tr td {
    height: 37px;
    line-height: 37px;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #22296c;
    border-bottom:3px solid #fff;
}

.currency-table tbody tr td:nth-child(2),
.currency-table thead tr th:nth-child(2) {
    text-align: center;
}

.currency-table tbody tr td:nth-child(3),
.currency-table thead tr th:nth-child(3) {
    padding-right:3px;
    text-align: right;
}

.currency-table tbody tr td svg {
    margin-left: 3px;
    vertical-align: middle;
}

.currency-table .currency-name {
    margin: 0 29px 0 6px;
}

.mycredit-pdf {
    display: inline-block;
    margin:5px;
}

.mycredit-pdf a {
    display: inline-block;
    padding: 0 30px 0 18px;
    height: 54px;
    line-height: 54px;
    border-radius: 3px;
    background-color: #ffffff;
    text-decoration: none;
}

.mycredit-pdf.white a {
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.08);
}

.mycredit-pdf.gray a {
    background-color: #f9fbfc;
    border: solid 1px #ededed;
}

.mycredit-pdf a svg {
    vertical-align: middle;
}

.mycredit-pdf a .mycredit-pdf-title {
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #22296c;
}

.bubbles span {
    display: inline-block;
}


.bubble-1 {
    width: 49.1px;
    height: 5.9px;
    border-radius: 100px;
    background-color: #5d66c3;
}

.bubble-2 {
    margin-left:3px;
    margin-right:3px;
    width: 19.6px;
    height: 5.9px;
    border-radius: 100px;
    background-color: #767ec9;
}

.bubble-3 {
    width: 7.4px;
    height: 5.9px;
    border-radius: 100px;
    background-color: #8a92d8;
}


.bio-tabs {

}

.bio-tabs .tab-nav {
    display: flex;
    list-style-type: none;
    margin:0;
    padding:0;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
}

.bio-tabs .tab-nav li {
    display: inline-block;
    margin: 0 57px 45px 0;
    max-width:147px;
    cursor: pointer;
}

.bio-tabs .tab-nav li.active,
.bio-tabs .tab-nav li:hover:not(.active) {
    background-color:#22296c;
}

.bio-tabs .tab-nav li:last-child {
    margin-right:0
}

.bio-tabs .tab-nav li img {
    vertical-align: middle;
}

.bio-tabs .tab-nav li .name {
    display: block;
    margin-top: 7px;
    font-size: 12px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #444446;
}

.bio-tabs .tab-nav li.active .name,
.bio-tabs .tab-nav li:hover:not(.active) .name,
.bio-tabs .tab-nav li.active .pos,
.bio-tabs .tab-nav li:hover:not(.active) .pos {
    color:#FFFFFF;
}

.bio-tabs .tab-nav li .pos{
    display: block;
    margin-top:1px;
    margin-bottom:6px;
    font-size: 10px;
    text-align: center;
    color: #989898;
}

.bio-tabs .tab-content {
    list-style: none;
    margin:0;
    padding:0;
}

.bio-tabs .tab-content li {
    display: none;
}

.bio-tabs .tab-content li.active {
    display: block;
}

.job-positions {
    display: block;
    list-style-type: none;
    margin:0;
    padding:0;

}

.job-positions .position {
    position: relative;
    display: block;
    margin-top: 30px;
    border-bottom: solid 1px #8a92d8;
}

.job-positions .position-name {
    font-size: 22px;
    text-align: left;
    color: #22296c;

}

.job-positions .position-short-description {
    max-width: 600px;
    margin-bottom: 28px;
}

.job-positions .position-description {
    display:none;
    padding-bottom:70px;
}

.job-positions .position.active .position-description {
    display: block;
}

.job-positions .learn-more {
    position: absolute;
    bottom: 28px;
    right:0;
    display: inline-block;
    padding:0 48px;
    height: 45px;
    border-radius: 3px;
    line-height: 45px;
    background-color: #fafafa;
    border: solid 1px #8a92d8;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
}

.job-positions .learn-more:active {
    background-color: #5d66c3;
    border: solid 1px #8a92d8;
    color: #ffffff;
}




.blog-posts {
    list-style-type: none;
    margin:45px 0 0 0;
    padding:0;
    display: block;
}

.blog-posts li {
    display: block;
    margin-bottom:35px;
}

.blog-posts li article {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    padding: 15px 28px 16px 24px;
    background-color: #fafafa;
    border: solid 1px #d7d7db;
}

.blog-posts li article a {
    text-decoration: none;
    display: inline-block;
}

.blog-posts li article .featured-img {
    margin-right: 50px;
}

.blog-posts li article .featured-img img {
    vertical-align: middle;
}

.blog-posts li article .blog-post-title {
    margin:0 0 8px 0;
}

.blog-posts li article .blog-post-title a {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #22296c;
    font-weight: 400;

}

.blog-posts li article .post-date a {
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color: #5d66c3;
}

.blog-posts li article .post-excerpt {
    margin: 18px 0 40px 0;
}

.blog-posts li article .post-excerpt a {
    font-size: 18px;
    text-align: left;
    color: #797979;
}


.blog-posts li article .btn-block a.read-more {
    height: 43px;
    padding:0 40px;
    border-radius: 3px;
    border: solid 1px #5d66c3;
    font-size: 16px;
    line-height: 43px;
    color: #5d66c3;
    transition: .15s ease-in;
}

.blog-posts li article .btn-block a.read-more:hover {
    background-color: #5d66c3;
    color:#fafafa;
}


.entry-heading {
    margin: 0 0 17px 0;
    font-size: 36px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #22296c;
    opacity: 0.74;
    font-weight: 400;
}

.entry-heading-center {
    position:relative;
    font-size: 32px;
    text-align: center;
    color: #22296c;
    font-weight: 400;
    margin:0;
    line-height:1.9;
}

.entry-heading-center:after {
    content:'';
    display: block;
    position: absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width: 62px;
    height: 3px;
    background-color: #22296c;
}

.page-heading {
    margin:0 0 12px 0
}

.post-content {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.5px;
    text-align: left;
    color: #616161;
}

.post-content img {
    max-width: 100%;
    height:auto;
}

.post-content h2,
.post-content .h2 {
    font-size: 28px;
    letter-spacing: 0.8px;
    text-align: left;
    color: #22296c;
    font-weight: 400;
}

.post-content h3,
.post-content .h3 {
    font-size: 22px;
    text-align: left;
    color: #5d66c3;
    font-weight: 400;
}

.post-content a,
.post-content .a {
    font-size: 18px;
    color: #5d66c3;
    text-decoration: none;
}

.post-content .light-heading {
    font-size: 20px;
    line-height: 1.8;
    color: #5d66c3;
}

.post-content .post-title {
    margin:0;
    font-size: 32px;
    text-align: left;
    color: #22296c;
    line-height: 1.18;
}

.post-content .post-meta {
    margin-top: 5px;
}

.post-content .post-date {
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #5d66c3;
}

.post-content .excerpt {
    font-size: 18px;
    text-align: left;
    color: #797979;
}

.post-content .featured-img img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}


.dl-cols {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: row wrap;

}

.dl-cols .col-1-dl {
    width: 421px;
    box-sizing: border-box;
    padding: 61px 44px 53px 34px;
    background-color: #22296c;
    color:#fff;
}

.dl-cols .col-2-dl {
    width:559px;
}

.contact-form-wrap {
    padding: 44px 0 55px 34px;
    background-color: #fafafa;
    border: solid 1px #ececec;
    border-top:0;
}

#contact_form .field {
    position: relative;
    margin-bottom: 35px;
}

#contact_form .field input[type='text'],
#contact_form .field textarea {
    width:340px;
    border: none;
    border-bottom: solid 1px #22296c;
    background-color:transparent;
    box-shadow: none;
    outline: none;
    padding: 5px 0 9px 0;
    margin: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2px;
    color: #22296c;
}

#contact_form .field textarea {
    resize: vertical;
    max-height:140px;
    height: 19px;
}

#contact_form .field label {
    position: absolute;
    top: 0;
    left:0;
    text-align: left;
    pointer-events: none;
    transition: all .15s ease-out;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2px;
    color: #22296c;
}

#contact_form .field input[type="text"]:focus ~ label,
#contact_form .field input[type="text"]:valid ~ label,
#contact_form .field input[type="text"]:visited ~ label,
#contact_form .field textarea:focus ~ label,
#contact_form .field textarea:valid ~ label,
#contact_form .field textarea:visited ~ label {
    transform: translateY(-100%);
    font-size: 13px;
}

#contact_form .btn-block {
    margin-top:82px;
}

.contact-success {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.44;
    letter-spacing: 0.3px;
    text-align: left;
    color: #22296c;
}

.contact-success .big {
    display: block;
    font-size: 32px;
    font-weight: normal;
    line-height: 0.81;
}

#contact_form input[type="submit"] {
    height: 46px;
    line-height: 46px;
    padding:0 71px;
    font-size: 18px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
}

.cols--2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.cols--2 .col-left {
    margin-right:121px;
}

.col-right {
    display: flex;
    align-items: flex-end;
}

.dd-title {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
}

.dl-cols dl {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
    line-height:1.25;
}

.dl-cols dl dt {
    font-weight: 500;
}

.dl-cols dl dd {
    margin-left:0;
    margin-bottom:14px;
}